<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
        <meta charset="utf-8">
        <title> Kawa w kawiarni </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


</head>
<body style="background-color: sandybrown">
<h2 align="center"> Kawy z ekspresu ciśnieniowego</h2>
<h6 align="center"> Na tej stronie Drogi Użytkowniku, znajdziesz opisane standardowe menu w kawiarni, można tu zapoznać się z kawami z ekspresu ciśnieniowego. Oczywiście to nie wszystkie kawy jakich można się napić w kawiarni, jednak większość tych najważniejszych. </h6>
<div class="row g-0 bg-light position-relative" >
        <div class="col-md-6 mb-md-0 p-md-4" align="center">
                <img src="esp.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Espresso</h4>
                <h6 class="mt-0">Kawa czarna </h6>

                <p>Esencja kawy czarnej, parzona zazwyczaj 18-30 sekund, gramatura to 18-30 ml. Kawa jest bardzo intensywna, jest zarazem podstawą do wszystkich kaw z ekspresu ciśnieniowego.  </p>
        </div>
</div>
</div>

<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="esp.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Espresso Doppio   </h4>
                <h6 class="mt-0">Esencja kawy czarnej </h6>
                <p> Podwójne espresso, zazwyczaj parzy się 18-30 sekund, gramatura to 30-50ml. Bardzo intensywna, idealna na poranek i dla osób lubiacych większą ilość kofeiny.  </p>
        </div>
</div>
</div>

<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="americano.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Americano </h4>
                <h6 class="mt-0">Kawa czarna </h6>
                <p> Podwójne espresso (40-60 ml) przedłużone 200 ml gorącej wody. Można powiedzieć, że jest to rozwodnione espresso. Idealna dla osób lubiącą kawę delikatniejszą </p>

        </div>
</div>
</div>

<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="amm.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Americano z mlekiem </h4>
                <h6 class="mt-0">Kawa biała </h6>
                <p> Podwójne espresso (40-60 ml) przedłużone 200 ml gorącej wody + 50 ml zimnego bądź ciepłego mleka. </p>

        </div>
</div>
</div>

<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="latte.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Cafe Latte  </h4>
                <h6 class="mt-0">Kawa mleczna </h6>
                <p> Zazwyczaj najlżejsza kawa mleczna, w większości robiona na pojedynczym espresso (18-30ml) do tego duża ilość lekko spienionego mleka (200-280ml). Idealna dla osób lubiących łagodne kawy mleczne.  </p>

        </div>
</div>
</div>


<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="capp.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Cappuccino  </h4>
                <h6 class="mt-0">Kawa mleczna </h6>
<p> Średniej mocy kawa mleczna, z bardzo gęstą pianką mleczną, najczęściej robiona na podwójnym espresso (40-60ml) i dużą ilością bardzo mocno spienionego mleka(200-240ml). Idealna na zimowe wieczory, w angli bardzo często podawana z posypanym kakaem bądź cynamonem.</p>
        </div>
</div>
</div>


<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4" >
                <img src="flat.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Flat White  </h4>
                <h6 class="mt-0">Kawa mleczna </h6>
<p> Jedna z mocniejszych kaw mlecznych, robiona na podwójnym espresso (40-60 ml), zalana małą ilością delikatnie spienionego mleka (120-180ml). Idealna dla osób lubiących intensywny smak w kawie mlecznej i potrzebujących pobudzenia przez taką kawę.</p>
        </div>
</div>
</div>

<div class="row g-0 bg-light position-relative" align="center">
        <div class="col-md-6 mb-md-0 p-md-4">
                <img src="moccha.jpg" class="w-50" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0" align="left">
                <h4 class="mt-0">Caffe Mocha   </h4>
                <h6 class="mt-0">Kawa mleczna z czekoladą </h6>
<p> Kawa bardzo podobna do latte, z tą różnicą, że jest z dodatkiem czekolady mlecznej bądź gorzkiej. Idealna dla osób lubiące czekoladowe akcenty. </p>
        </div>
</div>
</div>

<div style="background-color: sandybrown">
<h5 align="center"> Polecamy spróbować wszystkie i tym sposobem zdecydować, która Tobie najbardziej smakuje. </h5>

</div>


</body>

</body>
</html>