<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BaristaApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body> <!-- background="https://c.wallhere.com/photos/b2/e3/1920x1080_px_Simple_Background-1196336.jpg!d" > -->

<div class="btn-group d-grid gap-2 d-md-flex justify-content-md-end" align="center" role="group" aria-label="Basic example">
    <a th:href="@{/coffee}" class="btn btn-success"> Kawa <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
        <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
    </svg></a>
    <a th:href="@{/about}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#MModal"> O nas <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg> </a>
    <a th:href="@{/login}" class="btn btn-success"> Zaloguj się  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
        <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
    </svg></a>

</div>

<div class="modal fade" id="MModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 200px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Barista App</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 Barista App to aplikacja służąca do kontrolowania ważnych funkcji w działaniu każdej kawiarni, stworzyliśmy ją z myślą o pracownikach i właścicielach kawiarni. Pracując wiele lat w branży i korzystając z wielu oprogramowań zdecydowaliśmy się stworzyć własne.
            </div>
        </div>
    </div>
</div>


        <div class="container-fluid p-5 bg-primary text-white text-center">
            <h1>Barista App</h1>
            <p > Wszystko co potrzebuje kawiarnia </p>
        </div>

        <div class="container mt-5" align="center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width:200px">
                        <img class="card-img-top" src="safe.jpg" alt="Card image">
                        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                        <div class="card-body">
                            <h4 class="card-title">Logowanie </h4>
                            <p class="card-text">Zaloguj się aby zobaczyć wszystkie opcje</p>
                            <a th:href="@{/login}" class="btn btn-danger">Logowanie </a>

                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                <div class="card" style="width:220px" th:height=100px>
                    <img class="card-img-top" src="coffeeicon.png" alt="Card image">
                    <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

                    <div class="card-body">
                        <h4 class="card-title"> Kawa </h4>
                        <p class="card-text">Sprawdź jakie są kawy w kawiarni </p>
                        <a th:href="@{/coffee}" class="btn btn-primary">Kawa</a>
                    </div>
                </div>
                </div>

                <div class="col-sm-4" >
                    <div class="card" style="width:240px" th:height=200px>
                        <img class="card-img-top" src="info.PNG" alt="Card image">
                        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                        <div class="card-body">
                            <h4 class="card-title">O nas</h4>
                            <p class="card-text">Strona informacyjna</p>
                            <btn class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#MModal" >Informacja </btn>

                        </div>

                    </div>
                </div>

            </div>
        </div>



<div class="mt-4 p-5 bg-dark text-white rounded" align="left">
    <h1>Aplikacja dla baristów</h1>
    <p> W naszej aplikacji możesz kontrolować niezbędne do dobrego funkcjonowania kawiarni. </p>
</div>
<div class="mt-4 p-5 bg-primary text-white rounded" align="center">
    <h1> Dodaj produkty </h1>
    <p>Dodaj, edytuj, usuń, przeglądaj wszystkie produkty, które są w kawiarni. </p>
</div>
<div class="mt-4 p-5 bg-dark text-white rounded" align="right">
    <h1> Kontoluj dyspozycyjność </h1>
    <p> Pozwól swoim pracownikom dodawać kiedy mogą pracować, aby praca była dla nich jeszcze łatwiejsza i w dogodnym terminie. </p>
</div>

<footer align="center"> <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> </footer>
</body>
</html>